/* #cypherInput {
  inline-size: auto;
  vertical-align: text-top;
  overflow-wrap: break-word;
} */

body {
  font-family: arial, sans-serif;
}

h1,
h2 {
  text-align: center;
}

input[type="text"] {
  padding: 20px 10px;
  /* line-height: 28px; */
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.msgInputs {
  table-layout: fixed;
  width: 100%;
}
table.msgInputs td.msgInputs {
  width: 75px;
}

.msgInputs textarea {
  width: 100%;
}
