/* #cypherInput {
  inline-size: auto;
  vertical-align: text-top;
  overflow-wrap: break-word;
} */

body {
  font-family: "Poppins", sans-serif;
  background-color: #eafcf388;
  font-size: 00.8rem;
}

h1,
h2 {
  text-align: center;
}

h2 {
  font-size: 0.8rem;
}

input[type="text"] {
  padding: 20px 10px;
  /* line-height: 28px; */
}

table {
  border-collapse: collapse;
  border: 1.5px solid black;
  /* width: 100%; */
}

td,
th {
  border: 1px solid #fceaea88;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #fceaea88;
}

.msgInputs {
  table-layout: fixed;
  width: 100%;
}

#resultsTable {
  table-layout: fixed;
  width: 100%;
}

table.msgInputs td.msgInputs {
  width: 75px;
}

.msgInputs textarea {
  width: 100%;
}

#messageE {
  width: 100%;
  word-break: break-word;
}

#messageD {
  width: 100%;
  word-break: break-word;
}
